language: node_js

node_js:
  - "8"
  - "10"
  - "11"

branches:
  only:
    - master

install:
  # Get a more modern yarn.
  - npm install --global yarn@latest
  # Fail if lockfile outdated.
  # https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
  - yarn install --frozen-lockfile

script:
  - yarn --version
  - yarn run check
  - yarn benchmark:build
  - yarn check:git-dirty
  - yarn benchmark:install
  - yarn benchmark:lint
  - TEST_PARALLEL=true yarn benchmark
  - yarn benchmark:test
