environment:
  matrix:
    # Limit windows builds because they're 15 mins in serial.
    # - nodejs_version: "10"
    - nodejs_version: "12"
    # - nodejs_version: "13"

branches:
  only:
    - master

install:
  - ps: Install-Product node $env:nodejs_version
  # Get a more modern yarn.
  - npm install --global yarn@latest cross-env
  # Fail if lockfile outdated.
  # https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
  - yarn install --frozen-lockfile

test_script:
  - yarn --version
  - yarn run check
  - yarn test:cli
  - yarn benchmark:build
  - yarn benchmark:install
  - cross-env TEST_PARALLEL=true yarn benchmark
  - yarn benchmark:test

# Don't actually build.
build: off

matrix:
  fast_finish: true

cache:
 - node_modules
 - "%LOCALAPPDATA%/Yarn"
 - '%APPDATA%\npm-cache'
